body {
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-body {
	display: flex;
	flex-direction: column;
	justify-content: ;
}

#news {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap:10px;
}


.card {
	display:inline-block;
	max-width: 400px;
}